@{ ViewBag.Title = "Завършване на поръчка"; }

<h2 class="heading-margin text-center">Информация за доставка</h2>

<form>
    <div class="form-group">
        <label>Име на получател</label>
        <input class="form-control" placeholder="...">
        <span class="small text-danger"></span>
    </div>
    <div class="form-group">
        <label>Телефонен номер на получател</label>
        <input class="form-control" placeholder="...">
        <span class="small text-danger"></span>
    </div>

    <div class="form-group">
        <label for="exampleFormControlTextarea1">Адрес за доставка</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <input class="btn btn-primary mt-3" type="submit" value="Завърши поръчка" />

</form>