@using CosmeticsStore.Data.Models
@using Microsoft.AspNetCore.Identity


@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IDealerService Dealers

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var userId = User.Id();
        var userIsDealer = Dealers.IsDealer(userId);
        var userIsAdmin = User.IsAdmin();
        
         @if (User.Identity.IsAuthenticated && !User.IsAdmin() && userIsDealer)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Add">Добави продукт</a>
            </li>
        }
        @if (userIsDealer && !userIsAdmin)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Mine">Моите продукти</a>
            </li>
        }
        else if (!userIsAdmin)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Dealers" asp-action="Become">Стани дистрибутор</a>
            </li>
        }
        else if (userIsAdmin)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Admin" asp-controller="Products" asp-action="All">Управление</a>
            </li>
        }
          <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Профил
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Профил</a>
                            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                   <button type="submit" class="nav-link btn btn-link text-dark">Излизане</button>
                            </form>
                        </div>
                        </li>

@*        <li class="nav-item dropdown" aria-labelledby="navbarDropdown">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Профил</a>

        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Излизане</button>
            </form>
        </li>*@
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Вход</a>
        </li>
    }
</ul>
