@{
    ViewBag.Title = "За нас";
}
<div class="card-columns mx-auto d-flex justify-content-center col-12" style="width: 18rem;">
  <div class="card-body">
      <p style="font-size:100px">&#128221;</p> 
    <h5 class="card-title">За магазина</h5>
    <p class="card-text">Това е прототип на магазин за козметика, който разработвам за дипломната си работа в ТУ Габрово.</p>
  </div>
</div>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Контакти</h1>
        <p class="lead"></p>
    </div>
</div>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Доставка и връщане</h1>
        <p class="lead"></p>
    </div>
</div>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Рекламация</h1>
        <p class="lead"></p>
    </div>
</div>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Общи условия</h1>
        <p class="lead"></p>
    </div>
</div>

