@{
    ViewBag.Title = "За нас";
}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">За магазина &#128221;</h1>
            <p class="lead"></p>
            <p class="card-text">Това е прототип на магазин за козметика, който разработвам за дипломната си работа в ТУ Габрово.</p>
        </div>
    </div>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Контакти &#128172;</h1>
        <p class="lead"></p>
    </div>
</div>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Доставка &#128234; </h1>
        <p class="lead"></p>
    </div>
</div>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Връщане и рекламация &#128281;</h1>
        <p class="lead"></p>
    </div>
</div>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Общи условия &#128195;</h1>
        <p class="lead"></p>
    </div>
</div>

