@{
    ViewBag.Title = "За нас";
}
</html>

<div class="card-columns mx-auto d-flex justify-content-center col-12" style="width: 18rem;">
  <div class="card-body">
      <p style="font-size:100px">&#128221;</p> 
    <h5 class="card-title">За магазина</h5>
    <p class="card-text">Това е прототип на магазин за козметика, който разработвам за дипломната си работа в ТУ Габрово.</p>
  </div>
</div>