@model IEnumerable<ProductServiceModel>

@{ ViewBag.Title = "Моите продукти";
    ViewBag.AllowProductEdit = true;}

@if (!Model.Any())
{
<h2 class="text-center">Все още нямате продукти!</h2>}

<partial name="_ProductsPartial" model="@Model" />